html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

a {
    text-decoration: none;
}

/* for loader */

#loader {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../static/loader.gif");
    background-size: 5%;
    background-position: 50% 50%;
    background-color: black;
    background-repeat: no-repeat;
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
}

#loader-text {
    vertical-align: middle;
    color: white;
}

/* in case of no result found */

.fail {
    display: none;
    color: white;
}


.bg-glass {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    color: rgba(255, 255, 255, 0.8);
}

/* search toolbar */

.wrapper {
    max-width: 600px;
    margin: 40px auto;
}

.wrapper .search-input {
    background: #fff;
    width: 100%;
    border-radius: 0px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.search-input input {
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.search-input.active input {
    border-radius: 5px 5px 0 0;
}

.search-input .autocom-box {
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
}

.search-input.active .autocom-box {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

/* suggestion box */

.autocom-box li {
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
    text-align: left;
    color: #303030;
}

.search-input.active .autocom-box li {
    display: block;
}

.autocom-box li:hover {
    background: #efefef;
}

.search-input .icon {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 80px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: red;
    cursor: pointer;
}

.mic-icon {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    color: red;
}

/* to display movie info */

.movie-poster {
    width: 18.75rem;
    height: 26.75rem;
}

.movie-title {
    font-weight: 800;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    margin: 10px 0px;
    line-height: 1.5;
}

.movie-detail-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.movie-detail-list-items {
    display: inline;
    color: #adadad;
    font-weight: 500;
    font-size: 1.3rem;
}

p {
    color: #adadad;
}

.movie-cards-list {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.movie-cards-images-items {
    position: relative;
    display: inline;
    margin-right: 0.93rem;
    overflow-y: hidden;
}

li:hover .movie-cards-images {
    opacity: 0.3;
}

.movie-cards-images {
    transition: transform .3s;
    width: 14.75rem;
    height: 21.75rem;
    margin-top: 20px;
    opacity: 1;
    backface-visibility: hidden;
}

.cards-overlay {
    position: absolute;
    transition: .6s ease;
    opacity: 0;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
}

li:hover .cards-overlay {
    opacity: 1;
}

.cards-overlay-text {
    color: white;
    font-size: 1.5rem;
}

/* parallax backdrop */

.parallex-backdrop {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallex-backdrop {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.themoviedb.org/t/p/original/rcUcYzGGicDvhDs58uM44tJKB9F.jpg");
    height: 100vh;
}

.caption {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100%;
    color: white;
}

.card-body {
    background-color: #303030;
}

/* footer */

.footer {
    clear: both;
    background-color: black;
    color: #757575;
}

.footer a {
    color: #757575;
}

.footer a:hover {
    text-decoration: none;
    color: red;
}

.text-color--red {
    color: red !important;
}

.company-logo {
    height: 68.4px;
    width: 220.8px;
    margin: 0 15px 10px 0;
}

/* scrolling effect on movie cards */
.nav-scroller {
    scroll-behavior: smooth;
    position: relative;
    z-index: 2;
    height: 23rem;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.nav::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.nav-scroller {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* for making site responsive to different display sizes */

@media only screen and (max-width: 991.98px) {

    .hidden {
        display: none;
    }

    .header-recommend,
    .header-index {
        height: fit-content;
    }

    .parallex-backdrop {
        display: none;
    }

    .footer {
        text-align: center;
    }

}